In [1]:
import pandas as pd
import holidays
import numpy as np

train_df = pd.read_csv("train.csv")

train_df['Tarih'] = pd.to_datetime(train_df['Tarih'])

train_df['Hour'] = train_df['Tarih'].dt.hour
train_df['Day_of_week'] = train_df['Tarih'].dt.dayofweek
train_df['Month'] = train_df['Tarih'].dt.month

train_df['Energy_Izmir'] = train_df['Dağıtılan Enerji (MWh)'] * 0.85
train_df['Energy_Manisa'] = train_df['Dağıtılan Enerji (MWh)'] * 0.15

turkey_holidays = holidays.Turkey()

def is_holiday(date):
    return date in turkey_holidays

train_df['Holiday'] = train_df['Tarih'].dt.date.apply(is_holiday).astype(int)

train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1
...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0

In [2]:
train_df.columns

Index(['Tarih', 'Dağıtılan Enerji (MWh)', 'Hour', 'Day_of_week', 'Month',
       'Energy_Izmir', 'Energy_Manisa', 'Holiday'],
      dtype='object')

In [3]:
train_df['Weekend'] = train_df['Day_of_week'].apply(lambda x: 1 if x in (5, 6) else 0)
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0
...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1

In [4]:
conditions = [
    (6 <= train_df['Hour']) & (train_df['Hour'] < 12),
    (12 <= train_df['Hour']) & (train_df['Hour'] < 18),
    (18 <= train_df['Hour']) & (train_df['Hour'] < 24)
]
choices = ["Morning", "Afternoon", "Evening"]

train_df['Time_of_day'] = np.select(conditions, choices, default="Night")
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night
...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening

In [5]:
train_df['Day_of_month'] = train_df['Tarih'].dt.day
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,Day_of_month
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,1
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,1
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,1
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,1
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,1
...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,31
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,31
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,31
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,31
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,31

In [6]:
train_df['Week_of_year'] = train_df['Tarih'].dt.isocalendar().week
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,Day_of_month,Week_of_year
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,1,1
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,1,1
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,1,1
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,1,1
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,31,30
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,31,30
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,31,30
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,31,30
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,31,30

In [7]:
train_df['Last_holiday'] = train_df.loc[train_df['Holiday'] == 1, 'Tarih']
train_df['Last_holiday'].bfill(inplace=True)

train_df['Days_since_last_holiday'] = train_df['Tarih'] - train_df['Last_holiday']

train_df['Days_since_last_holiday'] = train_df['Days_since_last_holiday'].dt.days

train_df.drop(columns=['Last_holiday'], inplace=True)

In [8]:
from astral.sun import sun
from astral import LocationInfo
import pytz

location_izmir = LocationInfo("Izmir", "Turkey")
location_izmir.latitude = 38.419200
location_izmir.longitude = 27.128700
location_izmir.timezone = pytz.timezone("Turkey")

location_manisa = LocationInfo("Manisa", "Turkey")
location_manisa.latitude = 38.612000
location_manisa.longitude = 27.426000
location_manisa.timezone = pytz.timezone("Turkey")

def daylight_hours_izmir(date):
    s = sun(location_izmir.observer, date=date)
    daylight_duration = (s['sunset'] - s['sunrise']).seconds / 3600
    return daylight_duration

def daylight_hours_manisa(date):
    s = sun(location_manisa.observer, date=date)
    daylight_duration = (s['sunset'] - s['sunrise']).seconds / 3600
    return daylight_duration

train_df['Daylight_hours_Izmir'] = train_df['Tarih'].apply(daylight_hours_izmir)
train_df['Daylight_hours_Manisa'] = train_df['Tarih'].apply(daylight_hours_manisa)
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,Day_of_month,Week_of_year,Days_since_last_holiday,Daylight_hours_Izmir,Daylight_hours_Manisa
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,1,1,0.0,9.536111,9.517778
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,1,1,0.0,9.536111,9.517778
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,1,1,0.0,9.536111,9.517778
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,1,1,0.0,9.536111,9.517778
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,1,1,0.0,9.536111,9.517778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,31,30,NaN,14.163056,14.178056
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,31,30,NaN,14.163056,14.178056
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,31,30,NaN,14.163056,14.178056
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,31,30,NaN,14.163056,14.178056
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,31,30,NaN,14.163056,14.178056

In [9]:
train_df['Business_day'] = train_df['Day_of_week'].apply(lambda x: 1 if x in range(0, 5) else 0)
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,Day_of_month,Week_of_year,Days_since_last_holiday,Daylight_hours_Izmir,Daylight_hours_Manisa,Business_day
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,1,1,0.0,9.536111,9.517778,1
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,1,1,0.0,9.536111,9.517778,1
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,1,1,0.0,9.536111,9.517778,1
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,1,1,0.0,9.536111,9.517778,1
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,1,1,0.0,9.536111,9.517778,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,31,30,NaN,14.163056,14.178056,0
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,31,30,NaN,14.163056,14.178056,0
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,31,30,NaN,14.163056,14.178056,0
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,31,30,NaN,14.163056,14.178056,0
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,31,30,NaN,14.163056,14.178056,0

In [10]:
train_df['Cumulative_holidays'] = train_df['Holiday'].cumsum()
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,Day_of_month,Week_of_year,Days_since_last_holiday,Daylight_hours_Izmir,Daylight_hours_Manisa,Business_day,Cumulative_holidays
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,1,1,0.0,9.536111,9.517778,1,1
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,1,1,0.0,9.536111,9.517778,1,2
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,1,1,0.0,9.536111,9.517778,1,3
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,1,1,0.0,9.536111,9.517778,1,4
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,1,1,0.0,9.536111,9.517778,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632

In [11]:
med_df = pd.read_csv('med.csv')
med_df['Tarih'] = pd.to_datetime(med_df['Tarih'])

outage_dates = set(med_df['Tarih'].dt.date)

train_df['Date'] = train_df['Tarih'].dt.date

train_df['Electrical_outage'] = train_df['Date'].apply(lambda x: 1 if x in outage_dates else 0)
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,Day_of_month,Week_of_year,Days_since_last_holiday,Daylight_hours_Izmir,Daylight_hours_Manisa,Business_day,Cumulative_holidays,Date,Electrical_outage
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,1,1,0.0,9.536111,9.517778,1,1,2018-01-01,0
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,1,1,0.0,9.536111,9.517778,1,2,2018-01-01,0
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,1,1,0.0,9.536111,9.517778,1,3,2018-01-01,0
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,1,1,0.0,9.536111,9.517778,1,4,2018-01-01,0
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,1,1,0.0,9.536111,9.517778,1,5,2018-01-01,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,2022-07-31,0
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,2022-07-31,0
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,2022-07-31,0
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,2022-07-31,0
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,2022-07-31,0

In [12]:
train_df[train_df["Electrical_outage"] == 1]

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,Day_of_month,Week_of_year,Days_since_last_holiday,Daylight_hours_Izmir,Daylight_hours_Manisa,Business_day,Cumulative_holidays,Date,Electrical_outage
9024,2019-01-12 00:00:00,1673.731325,0,5,1,1422.671627,251.059699,0,1,Night,12,2,-101.0,9.706944,9.690000,0,360,2019-01-12,1
9025,2019-01-12 01:00:00,1507.042270,1,5,1,1280.985930,226.056341,0,1,Night,12,2,-101.0,9.706944,9.690000,0,360,2019-01-12,1
9026,2019-01-12 02:00:00,1380.357260,2,5,1,1173.303671,207.053589,0,1,Night,12,2,-101.0,9.706944,9.690000,0,360,2019-01-12,1
9027,2019-01-12 03:00:00,1287.556850,3,5,1,1094.423322,193.133527,0,1,Night,12,2,-101.0,9.706944,9.690000,0,360,2019-01-12,1
9028,2019-01-12 04:00:00,1273.227202,4,5,1,1082.243121,190.984080,0,1,Night,12,2,-101.0,9.706944,9.690000,0,360,2019-01-12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34555,2021-12-10 19:00:00,2250.544510,19,4,12,1912.962833,337.581676,0,0,Evening,10,49,-22.0,9.541111,9.522778,1,1344,2021-12-10,1
34556,2021-12-10 20:00:00,2169.464638,20,4,12,1844.044942,325.419696,0,0,Evening,10,49,-22.0,9.541111,9.522778,1,1344,2021-12-10,1
34557,2021-12-10 21:00:00,2063.138813,21,4,12,1753.667991,309.470822,0,0,Evening,10,49,-22.0,9.541111,9.522778,1,1344,2021-12-10,1
34558,2021-12-10 22:00:00,1952.702532,22,4,12,1659.797152,292.905380,0,0,Evening,10,49,-22.0,9.541111,9.522778,1,1344,2021-12-10,1
34559,2021-12-10 23:00:00,1847.865309,23,4,12,1570.685513,277.179796,0,0,Evening,10,49,-22.0,9.541111,9.522778,1,1344,2021-12-10,1

In [13]:
del train_df["Date"]
train_df.columns

Index(['Tarih', 'Dağıtılan Enerji (MWh)', 'Hour', 'Day_of_week', 'Month',
       'Energy_Izmir', 'Energy_Manisa', 'Holiday', 'Weekend', 'Time_of_day',
       'Day_of_month', 'Week_of_year', 'Days_since_last_holiday',
       'Daylight_hours_Izmir', 'Daylight_hours_Manisa', 'Business_day',
       'Cumulative_holidays', 'Electrical_outage'],
      dtype='object')

In [14]:
train_df['Outage_percentage'] = (train_df['Electrical_outage'].cumsum() / (train_df.index + 1)) * 100
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,Day_of_month,Week_of_year,Days_since_last_holiday,Daylight_hours_Izmir,Daylight_hours_Manisa,Business_day,Cumulative_holidays,Electrical_outage,Outage_percentage
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,1,1,0.0,9.536111,9.517778,1,1,0,0.000000
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,1,1,0.0,9.536111,9.517778,1,2,0,0.000000
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,1,1,0.0,9.536111,9.517778,1,3,0,0.000000
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,1,1,0.0,9.536111,9.517778,1,4,0,0.000000
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,1,1,0.0,9.536111,9.517778,1,5,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793365
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793320
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793275
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793231
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793186

In [15]:
window_size = 24
train_df['Rolling_outages_24h'] = train_df['Electrical_outage'].rolling(window=window_size).sum()
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,Day_of_month,Week_of_year,Days_since_last_holiday,Daylight_hours_Izmir,Daylight_hours_Manisa,Business_day,Cumulative_holidays,Electrical_outage,Outage_percentage,Rolling_outages_24h
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,1,1,0.0,9.536111,9.517778,1,1,0,0.000000,NaN
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,1,1,0.0,9.536111,9.517778,1,2,0,0.000000,NaN
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,1,1,0.0,9.536111,9.517778,1,3,0,0.000000,NaN
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,1,1,0.0,9.536111,9.517778,1,4,0,0.000000,NaN
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,1,1,0.0,9.536111,9.517778,1,5,0,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793365,0.0
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793320,0.0
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793275,0.0
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793231,0.0
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,31,30,NaN,14.163056,14.178056,0,1632,0,1.793186,0.0

In [16]:
alpha = 0.1
train_df['Exp_avg_outages_24h'] = train_df['Electrical_outage'].ewm(alpha=alpha).mean()
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,...,Week_of_year,Days_since_last_holiday,Daylight_hours_Izmir,Daylight_hours_Manisa,Business_day,Cumulative_holidays,Electrical_outage,Outage_percentage,Rolling_outages_24h,Exp_avg_outages_24h
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,...,1,0.0,9.536111,9.517778,1,1,0,0.000000,NaN,0.000000e+00
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,...,1,0.0,9.536111,9.517778,1,2,0,0.000000,NaN,0.000000e+00
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,...,1,0.0,9.536111,9.517778,1,3,0,0.000000,NaN,0.000000e+00
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,...,1,0.0,9.536111,9.517778,1,4,0,0.000000,NaN,0.000000e+00
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,...,1,0.0,9.536111,9.517778,1,5,0,0.000000,NaN,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,...,30,NaN,14.163056,14.178056,0,1632,0,1.793365,0.0,1.866555e-256
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,...,30,NaN,14.163056,14.178056,0,1632,0,1.793320,0.0,1.679900e-256
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,...,30,NaN,14.163056,14.178056,0,1632,0,1.793275,0.0,1.511910e-256
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,...,30,NaN,14.163056,14.178056,0,1632,0,1.793231,0.0,1.360719e-256
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,...,30,NaN,14.163056,14.178056,0,1632,0,1.793186,0.0,1.224647e-256

In [17]:
train_df['Hour_sin'] = np.sin(2 * np.pi * train_df['Hour'] / 24)
train_df['Hour_cos'] = np.cos(2 * np.pi * train_df['Hour'] / 24)
train_df

,Tarih,Dağıtılan Enerji (MWh),Hour,Day_of_week,Month,Energy_Izmir,Energy_Manisa,Holiday,Weekend,Time_of_day,...,Daylight_hours_Izmir,Daylight_hours_Manisa,Business_day,Cumulative_holidays,Electrical_outage,Outage_percentage,Rolling_outages_24h,Exp_avg_outages_24h,Hour_sin,Hour_cos
0,2018-01-01 00:00:00,1593.944216,0,0,1,1354.852583,239.091632,1,0,Night,...,9.536111,9.517778,1,1,0,0.000000,NaN,0.000000e+00,0.000000,1.000000
1,2018-01-01 01:00:00,1513.933887,1,0,1,1286.843804,227.090083,1,0,Night,...,9.536111,9.517778,1,2,0,0.000000,NaN,0.000000e+00,0.258819,0.965926
2,2018-01-01 02:00:00,1402.612637,2,0,1,1192.220741,210.391895,1,0,Night,...,9.536111,9.517778,1,3,0,0.000000,NaN,0.000000e+00,0.500000,0.866025
3,2018-01-01 03:00:00,1278.527266,3,0,1,1086.748176,191.779090,1,0,Night,...,9.536111,9.517778,1,4,0,0.000000,NaN,0.000000e+00,0.707107,0.707107
4,2018-01-01 04:00:00,1220.697701,4,0,1,1037.593046,183.104655,1,0,Night,...,9.536111,9.517778,1,5,0,0.000000,NaN,0.000000e+00,0.866025,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40147,2022-07-31 19:00:00,2492.489498,19,6,7,2118.616073,373.873425,0,1,Evening,...,14.163056,14.178056,0,1632,0,1.793365,0.0,1.866555e-256,-0.965926,0.258819
40148,2022-07-31 20:00:00,2479.958245,20,6,7,2107.964508,371.993737,0,1,Evening,...,14.163056,14.178056,0,1632,0,1.793320,0.0,1.679900e-256,-0.866025,0.500000
40149,2022-07-31 21:00:00,2485.016884,21,6,7,2112.264351,372.752533,0,1,Evening,...,14.163056,14.178056,0,1632,0,1.793275,0.0,1.511910e-256,-0.707107,0.707107
40150,2022-07-31 22:00:00,2396.574255,22,6,7,2037.088116,359.486138,0,1,Evening,...,14.163056,14.178056,0,1632,0,1.793231,0.0,1.360719e-256,-0.500000,0.866025
40151,2022-07-31 23:00:00,2285.252844,23,6,7,1942.464917,342.787927,0,1,Evening,...,14.163056,14.178056,0,1632,0,1.793186,0.0,1.224647e-256,-0.258819,0.965926